@charset "utf-8";

body {
  font-family: "PingFangSC-Regular", "SFNSDisplay", "Microsoft YaHei", Helvetica, Tahoma, Arial, "微软雅黑", SimSun, "宋体", Heiti, "黑体", sans-serif;
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  word-wrap: break-word;
  word-break: break-all;
}

input,
textarea {
  -webkit-user-select: text;
  outline: none;
}

textarea::-webkit-resizer {
  display: none;
}

input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

section,
nav,
article,
aside,
hgroup,
header,
footer {
  display: block;
}

input,
textarea,
select,
button,
table {
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
  outline: 0;
}

body,
div,
h1,
h2,
h3,
h4,
h5,
ul,
li,
dl,
dt,
dd,
p,
span,
a {
  margin: 0;
  padding: 0;
}

img {
  border: none;
}

ul,
ol,
li {
  list-style: none;
}

i,
em {
  font-style: normal;
}

a {
  color: inherit;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.05);
}

a:focus {
  outline: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section,
summary {
  display: block;
}

.hide {
  display: none !important;
}

.clearfix::after {
  content: "";
  height: 0;
  line-height: 0;
  display: block;
  visibility: hidden;
  clear: both;
}
